
body{
    background-color: aliceblue;
}
#mor{
    background-color: gray;
}

.navbar{
    background-color: rgb(158, 201, 238);
    height: 50px ;
    
    
}
input{

    margin-bottom: 5px;
    margin-top: 5px;
    width: 80%;
    text-align: center;
    -moz-appearance: textfield;
    border: 3px solid #ccc; /* Set the border width and color */
  padding: 10px; /* Add some padding to make the content area larger */
  font-size: 16px; /* Set the font size */
  box-sizing: border-box; /* Include the border in the box size calculation */
  width: 300px; /* Set the width of the textbox */

}
.nav-link{
    padding: 5px;
    padding-left: 30px;
    border: 3px ;
    border-style: solid;
    margin-left: 5px;
    border-radius: 3px;
}

input:focus{
    border-color: rgb(0, 0, 0);
   

}


.col{
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: rgba(217, 217, 217, 0);
    margin: 5px;
    margin-right: 5px;
    background-color: rgb(217,217,217);
    
} 

a:active {
    color: rgb(118, 116, 101);

  }

a{
    color: black;
    text-decoration: none;
    font-family: fantasy;
}
#result{
    background-color: rgb(180, 132, 132);
}

.bootstrap_container {
    
    padding-right: 10%;
    padding-left: 10%;
    
    margin-top: 100px;
    
    
  }

