body{
    background-image: url(Images/backg.png);
    background-size: cover;
    background-color: #F8B595;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    
    
}
#mor{
    background-color: gray;
}

.navbar{

    background-color: #6c5b7c;
    opacity: 75%;
    
    
}

.row{
    margin-bottom: 40px;
}
.col{
    border-style: solid;
    
    border-width: 2px;
    border-color: rgba(233, 15, 15, 0);
    
    
    
} 

.instruction{
    background-color: #827390;
}
#colform{
    display: flex;
        
    
}
.wideinput{
    
    width: 108%;
}

input[type='text']{    
    appearance: textfield;  
    
    
}

input[type='text'], button, input[type='submit'], input[type='button']{
    background-color: #39708A;
    border: solid;
    border-color: black;
    border-width: 2px;
    margin: 3px;
    height: 30px;
    text-align: center;
    
}


input:hover, button:hover{
    background-color: #31596c;
}


.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    justify-content: center;
    z-index: 9999;
}


.overlay {
    background: rgba(176, 162, 162, 0.8);
    

    
    
  }
  
  .popperstuff {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid;
    border-radius: 3px;
    background-color: #9d8cac;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2%;
    height: 80%;
    overflow: auto;
    
    
  }
  







a:active {
    color: rgb(118, 116, 101);

  }

a{
    color: black;
    text-decoration: none;
    font-family: fantasy;
}
.compare{
    padding-right: 5%;
}
#damageresult{
    display: flex;
    background-color: #c06c84;
    border: solid;
    border-color: rgb(54, 54, 54);
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    

}

#compareresult{
    display: grid;
    background-color: #c06c84;
    border: solid;
    border-color: rgb(54, 54, 54);
    grid-template-rows: 1;
    grid-template-columns: 3;
}
#chart{
    
    overflow: hidden;

}
.compresultinput{
    width: min-content;
    position: relative;
    justify-self: center;
}



th, td {
    padding: 15px;
} 

  table td + td{ border-left:2px solid gray;
    padding-bottom: 10px; 
}
th {
    text-decoration: underline;
}

.bootstrap_container {
    
    padding-right: 8%;
    padding-left: 8%;
    
    margin-top: 100px;
} 
.carousel{
    background-color: #C06C84;
    display: flex;
    height: 100%;
    padding: 20px;
    padding-left: 50px;
    
}




  

  
  .custom-table th,
  .custom-table td {
    border: none;
  }

  .footer{
    margin-top: 10%;
    display: flex;
    justify-content: space-around;

    
    
  }
  
  

  