
body{
    background-color: aliceblue;
}
#mor{
    background-color: gray;
}

.navbar{
    background-color: rgb(158, 201, 238);
    height: 50px ;
    
    
}
input{

    
    
    text-align: center;
    appearance: textfield;
    border: 3px solid #ccc; 
  padding: 10px; 
  font-size: 16px;
  
  width: min-content; 

}
#comparerow{
    margin-left: 100px;
    margin-right: 100px ;
}

#popbutton{
    margin-top: 50%;
    width: min-content;
}



.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    justify-content: center;
    z-index: 9999;
}
#rowcompare{
    margin-left: 100px;
    margin-right: 100px;
}

.overlay {
    background: rgba(176, 162, 162, 0.8);
}
.popperstuff {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid;
    border-radius: 3px;
    background-color: white;
    padding: 6%;
}
.nav-link{
    padding: 5px;
    padding-left: 30px;
    border: 3px ;
    border-style: solid;
    margin-left: 5px;
    border-radius: 3px;
}

input:focus{
    border-color: rgb(0, 0, 0);
   

}


.col{
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: rgba(217, 217, 217, 0);
    margin: 5px;
    margin-right: 5px;
    background-color: rgb(217,217,217);
    
} 

a:active {
    color: rgb(118, 116, 101);

  }

a{
    color: black;
    text-decoration: none;
    font-family: fantasy;
}
#result{
    background-color: rgb(180, 132, 132);
}

.bootstrap_container {
    
    padding-right: 10%;
    padding-left: 10%;
    
    margin-top: 100px;
    
    
}
